// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

.page
  max-width: 500px!important

.btn-control
  height: 56px!important
  margin-top: 0px!important
  margin-bottom: 0px!important
